.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 145, 88, 0.135);
}

.form {
  background-color: rgba(52, 145, 88, 0.135);
  padding: 1rem 10rem 4rem 10rem;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-bottom: 20rem;
  margin: 0 auto;
}

.formError {
  color: rgba(255, 0, 0, 0.527);
}

.successMessage {
  text-align: center;
  color: rgb(1, 143, 56);
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.submitBtn {
  cursor: pointer;
  display: inline-block;
  margin-top: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: white;
  padding: 1rem 3rem;
  border-radius: 7px;
  border: 0;
  color: rgb(1, 143, 56);
}

.submitBtn:hover {
  background-color: rgba(52, 145, 88, 0.39);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
  }
}
