.form {
  margin: 2rem 0rem 2rem 70rem;
}

.searchIcon {
  margin: 0px 15px;
  font-size: 1.2rem;
  color: rgb(52, 145, 88);
}

@media screen and (max-width: 600px) {
  .form {
    max-width: 70%;
  }
}
