* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 80%;
}

main {
  position: relative;
  padding: 5rem 0;
  min-height: 100vh;
  background-color: ;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
}

input,
textarea {
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #fff;
}

section {
  margin: 0 auto;
  max-width: 1400px;
}
